<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    {% block title %}{% endblock %}
  </head>

  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div>
      <p>My Homepage</p>
      <a href="/">Home</a>
      <a href="/task">ToDo Tracker</a>
      <a href="/createaccount">Create Account </a>
      <a href="/createcard">Create Flash Cards</a>
      <a href="/cardview">Card View</a>
      <a href="/practice">Practice Time!</a>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
