{% extends "base.html" %} {% block content %}
<html>
<link rel="stylesheet" href="style.css">
  <body style="background-color: rgb(186, 236, 105)">

  <head>
    <title class="title">Cardview of all your flashcards</title>
  </head>
  <body>
    <h1>Here are all your flashcards, {{user.username}}!</h1>

    {% for card in cards_all %}
    <div>
      <dl>
        <dt>{{ card.term }}</dt>
        <dd>- {{ card.definition }}</dd>
      </dl>
    </div>
    {% endfor %}
    <form action='' method='POST' novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.shuffle() }}
			</p>
		</form>
  </body>
</html>
{% endblock %}
