{% extends "base.html" %} {% block content %}
<head> 
    <link rel="stylesheet" href="style.css">
    <body style="background-color: lightblue;">
</head>
<h1 class="title">Welcome to The Daily 7!</h1>

<p> 
    This app lets you study and prepare for your classes with various features! <br>
    Take a look at the images below to glance at a couple of our features. <br>
    
</p>

<img src="static/todo.png"> 
<p> This is the todo tracker where you can track your tasks.</p>
<br>
<img src="static/notes.png"> 
<p> This is the note display page where you can view all the notes you created.</p>
<br>

{% endblock %}
