{% extends 'base.html' %} {% block content %}
<body style="background-color: rgb(186, 236, 105)">

<h1>Sign In</h1>

<form action="" method="POST" novalidate>
	{{form.hidden_tag()}}
	<p>
		{{form.username.label}} <br>
		{{form.username(size=32)}}
	</p>
	<p>
		{{form.password.label}} <br>
		<input type ="password" name ="password" size ="32">
	</p>
	<p>
		{{form.remember_me.label}} <br>
		{{form.remember_me()}}
	</p>
	<div>
	<p>
		{{form.submit()}}
	</p>
	</div>

</form>

{% endblock %}
