{% extends "base.html" %} {% block content %}

<h1>Create an account</h1>

<form action="" method="POST" novalidate>
  {{form.hidden_tag()}}
  <p>
    {{form.username.label}} <br />
    <input size="64" placeholder="NotGary"/>
  </p>
  <p>
    {{form.email.label}} <br />
    <input type ="email" name ="email" size ="64" placeholder="gary123@thismail.com">
  </p>
  <p>
    {{form.password.label}} <br />
    {{form.password(size=64)}}
  </p>
  <p>
    {{form.retypePassword.label}} <br />
    {{form.retypePassword(size=64)}}
  </p>

    {{form.submit()}}
</form>

{% endblock %}
