{% extends "base.html" %}
{% block content %}

<h1> {{ title }} </h1>
<body style="background-color: rgb(186, 236, 105)">

<div class="container" style='margin:0 auto; top: 25%;'>
    <div class="row align-items-center">
        <div class="col">
            <div class="btn-group" role="group" aria-label="timegroup">
                <button id = "pomodoroButton" type="button" class="btn btn-primary btn-lg" style="background-color: #2d4f5d!important;" onclick="reset(25)" disabled>Pomodoro</button>
                <button id = "breakButton" type="button" class="btn btn-primary btn-lg" style="background-color: #2d4f5d!important;" onclick="reset(5)">Rest</button>
                <button id = "longBreakButton" type="button" class="btn btn-primary btn-lg" style="background-color: #2d4f5d!important;" onclick="reset(15)">Break</button>
            </div>
        <p id="timer" class="rounded" style="font-size: 60px; margin-right: 10%">25:00</p>
        <div class="row align-items-center" >
            <div class="col">
                <button id = "pauseButton" type="button" class="btn btn-primary btn-sm" style="display: none;background-color: #2d4f5d!important;" onclick="setPause()">Pause</button>
                <button id = "startButton" type="button" class="btn btn-primary btn-sm" style="background-color: #2d4f5d!important;" onclick="run()">Start</button>
            </div>
            <div class="col"; style= ' margin-left: -90%'>
                <button id = "resetButton25" type="button" class="btn btn-primary btn-sm" style="background-color: #2d4f5d!important;" onclick="reset(25)">Reset</button>
                <button id = "resetButton5" type="button" class="btn btn-primary btn-sm" style="display: none; background-color: #2d4f5d!important " onclick="reset(5)">Reset</button> 
                <button id = "resetButton15" type="button" class="btn btn-primary btn-sm" style="display: none; background-color: #2d4f5d!important " onclick="reset(15)">Reset</button> 
            </div>
        </div>
    </div>
</div>
<script>

var time = 25 * 60; 
var x = 'filler'    
var min = 25


function run(){
    x = setInterval(start, 1000); 
}

function start() {
    var minutes = Math.floor(time / 60);
    var seconds = time % 60;
    
    minutes = minutes < 10 ? '0' + minutes : minutes;
    seconds = seconds < 10 ? '0' + seconds : seconds;  
  
    document.getElementById("timer").innerHTML = minutes + ":" + seconds;
    document.title = minutes + ":" + seconds;


    if (time < 0) {
        setTime(min);
        clearInterval(x)
        alert('Timer is up')
        document.getElementById("startButton").style.display='inline';
        document.getElementById("pauseButton").style.display='none';
    }
    else{
        time--;
        document.getElementById("startButton").style.display='none';
        document.getElementById("pauseButton").style.display='inline';
    }
}

function setPause(){
    clearInterval(x)
    document.getElementById("pauseButton").style.display='none';
    document.getElementById("startButton").style.display='inline';
}


function reset(t) {
    min = t
    setTime(t)
    clearInterval(x)
    document.getElementById("pauseButton").style.display='none';
    document.getElementById("startButton").style.display='inline';
    if (t == 5){
        document.getElementById("pomodoroButton").disabled=false;
        document.getElementById("breakButton").disabled=true;
        document.getElementById("longBreakButton").disabled=false;
        document.getElementById("resetButton25").style.display='none';
        document.getElementById("resetButton5").style.display='inline';
        document.getElementById("resetButton15").style.display='none';}
    else if (t == 15){
        document.getElementById("pomodoroButton").disabled=false;
        document.getElementById("breakButton").disabled=false;
        document.getElementById("longBreakButton").disabled=true;
        document.getElementById("resetButton25").style.display='none';
        document.getElementById("resetButton5").style.display='none';
        document.getElementById("resetButton15").style.display='inline';
    }
    else{
        document.getElementById("pomodoroButton").disabled=true;
        document.getElementById("breakButton").disabled=false;
        document.getElementById("longBreakButton").disabled=false;
        document.getElementById("resetButton5").style.display='none';
        document.getElementById("resetButton25").style.display='inline';
        document.getElementById("resetButton15").style.display='none';}              
}

function setTime(t) {
    time = t * 60

    var minutes = Math.floor(time / 60);
    var seconds = time % 60;

    minutes = minutes < 10 ? '0' + minutes : minutes;
    seconds = seconds < 10 ? '0' + seconds : seconds;

    document.getElementById("timer").innerHTML = minutes + ":" + seconds;
}
</script>
{% endblock %}