{% extends "base.html" %} {% block content %}

<html>
<link rel="stylesheet" href="style.css">
  <body style="background-color: rgb(186, 236, 105)">

  <body>
    <h1 class="title">You can practice for your quizzes or test here!</h1>
    {% for card in cards_all %}
    <div>
      <ul>
        <li>Term: {{ card.term }}</li>
        <form action="" method="POST","GET" novalidate>
          {{ form.hidden_tag() }}
            <p>
              {{ form.ans.label }} <br />
              {{ form.ans(size=64) }}
            </p>
      </ul>
    </div>
    {% endfor %}
  </body>

  <body>
    <form action="" method="POST","GET" novalidate>
      {{ form.hidden_tag() }}
      <!--
      <p>
        {{ form.ans.label }} <br />
        {{ form.ans(size=128) }}
      </p>
      <p>{{ form.submit() }}</p>
      -->
      <p>{{ form.submit() }}</p>
      <button onclick="">
            Check your results!
      </button>
      <input type="int" name="total_correct" value={{total_correct}}>
      <input type="int" name="total_incorrect" value={{total_incorrect}}>
    </form>
  </body>
</html>
{% endblock %}
