{% extends "base.html" %} {% block content%}
<body style="background-color: rgb(186, 236, 105)">

    <head>
        <title>Stop Watch</title>
        <link rel = "stylesheet" href = "stopwatch.css">
    </head>
    <body>
        <div class = "container">
          <h1>Stopwatch</h1>
            <div class = "timer">
                <span class="hour">00</span>:<span class = "min">00</span>:<span class = "sec">00</span>
            </div>
            <div class = "button">
                <button class = "button-success" data-action="start"><b>Start</b></button>
                <button class = "button-danger" data-action="stop"><b>Stop</b></button><br/><br/>
                <button class = "button-primary" data-action="reset"><b>Reset</b> </button>
            </div>
        </div>
        <script>
            const hour    = document.querySelector('.hour')
            const min     = document.querySelector('.min')
            const sec     = document.querySelector('.sec')
            const start   = document.querySelector('[data-action ="start"]')
            const stop    = document.querySelector('[data-action ="stop"]')
            const reset   = document.querySelector('[data-action ="reset"]')
            let time      = 00
            let isRunning = false
            let interval

            const startTime = () =>{
                if(isRunning) return;

                isRunning = true
                interval = setInterval(incrementTime , 1000)
            }

            const stopTime = () =>{
                if(!isRunning) return;

                isRunning = false
                clearInterval(interval)
            }

            const resetTime = () =>{
                stopTime()

                time = 0
                min.textContent = '00'
                sec.textContent = '00'
            }

            const incrementTime = () =>{
                time++

                const numMin = Math.floor(time/60)
                const numSec = time % 60

                min.textContent = pad(numMin)
                sec.textContent = pad(numSec)
            }

            const pad = (num) =>{
                return(num<10) ? '0' + num : num;
            }

            start.addEventListener("click",startTime)
            stop.addEventListener("click",stopTime)
            reset.addEventListener("click",resetTime)
        </script>
    </body>


{% endblock %}