{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="style.css">
<body style="background-color: rgb(186, 236, 105)">
  <div class="label">
    <h1 class="title">Todo Tracker</h1>

    <form action="/addtask" method="post">
      <p><input type="text" name="content" size="32" placeholder="Type task here"/></p>
      <input type="submit" value="Add task" />
    </form>
    </br>

    <h3> <u>Here are your tasks! </u> </h3>
    <ol>
      {% for task in tasks %}
      <li>
        {% if task.done %}
        <strike> {% endif %}{{ task.content }} {% if task.done %} </strike> {%endif %}
        <a href="/done/{{ task.id }}">Done</a>
        <a href="/delete/{{ task.id }}">Delete</a>
      </li>
      {% endfor %}
    </ol>
  </div>
</body>

{% endblock %}
